
    <form method="get" action="/quizes/answer">
    	Pregunta: 
    	<p class="pregunta"><%= pregunta %></p>
    	<input type="text" name="respuesta" placeholder="Responde aquí">
    	<input type="submit"  value="Enviar">
    </form>
